@import url('https://fonts.googleapis.com/css2?familia=Ubuntu:wght@300; 400; 500; 700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.Sidebar{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 78px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.sidebar.active{
    width: 240px;
    
}

.sidebar .contenido .logo{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .contenido .logo{
    opacity: 1;
    pointer-events: none;
}

.contenido .logo{
    font-size: 28px;
    margin-right: 5px;
}

.contenido .logo .nombre{
    font-size: 20px;
    font-weight: 400;
    transform: translateX(10px);
}

.sidebard .btn{
    position: absolute;
    color: #fff;
    left: 57%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}

.sidebar.active .btn{
    left: 90%;
}

.navegacion ul{
    margin-top: 20px;
}

.navegacion ul li{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 5px;
    list-style: none;
    line-height: 50px;
}

.navegacion ul li .tool{
    position: absolute;
    left: 122px;
    top: 0;
    transform: translatey(-50% , -50%);
    border-radius: 6px;
    height: 35px;
    width: 122px;
    background: #fff;
    line-height: 35px;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    display: block;
}

.navegacion .active ul li .tool{
    display: none;
}

.navegacion ul li:hover .tool{
    transition: all 0.5s ease;
    opacity: 1;
    top: 50%;
}

.navegacion ul li input{
    /*buscador*/
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 12px;
    outline: none;
    border: none;
    background: #1d1b31;
    padding-left: 50px;
    font-size: 18px;
    color: #fff;
}

.navegacion ul li .lupa{
position: absolute;
z-index: 99;
top: -0px;
color: #fff;
font-size: 22px;
transition: all 0.5 ease;
}

.navegacion ul li input:hover{
    background: #fff;
    color: #1d1b31;
}

.navegacion ul li a{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}

.navegacion ul li a:hover{
    /*color de letras, focus*/
    color: #11101d;
    /*color de el borado, cambir a gusto*/
    background: #fff;
}

.navegacion ul li a span{
height: 50px;
min-width: 50px;
border-radius: 12px;
line-height: 50px;
text-align: center;
}

.sidebar .cierre{
    opacity: 0;
    pointer-events: none;
}

.sidebar .active .cierre{
    opacity: 1;
    pointer-events: auto;
}

.sidebard .salir{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebard .salir .perfil{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}

.salir .perfil .perfil2{
    display: flex;
    align-items: center;
}

.perfil .perfil2 img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.perfil .perfil2 .detalles{
    margin-right: 10px;
}

.perfil .perfil2 .cierre{
font-size: 15px;
font-weight: 400;
}
.perfil .perfil2 .despedida{
    font-size: 12px;
}

.perfil .logout{
    position: relative;
    left: 5%;
    font-size: 24px;
    top: 3px;
    border-radius: 12px;
}

.home{
    position: fixed;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    top: 0;
}

.textoPrueba{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}